<a href="https://colab.research.google.com/github/AndrewPiasecki/CrimeDataSince2020/blob/main/Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports, Data Info, and Data Cleaning

In [29]:
import seaborn as sns
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
url = "https://github.com/AndrewPiasecki/CrimeDataSince2020/blob/main/CrimeData.csv?raw=true"

In [8]:
Crime = pd.read_csv(url, index_col=0)

In [9]:
Crime.head()

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
DR_NO,,,,,,,,,,,,,,,,,,,,,
190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [11]:
Crime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990293 entries, 190326475 to 240910892
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date Rptd       990293 non-null  object
 1   DATE OCC        990293 non-null  object
 2   TIME OCC        990293 non-null  int64
 3   AREA            990293 non-null  int64
 4   AREA NAME       990293 non-null  object
 5   Rpt Dist No     990293 non-null  int64
 6   Part 1-2        990293 non-null  int64
 7   Crm Cd          990293 non-null  int64
 8   Crm Cd Desc     990293 non-null  object
 9   Mocodes         842641 non-null  object
 10  Vict Age        990293 non-null  int64
 11  Vict Sex        849515 non-null  object
 12  Vict Descent    849504 non-null  object
 13  Premis Cd       989970 non-null  float64
 14  Premis Desc     989399 non-null  object
 15  Weapon Used Cd  326547 non-null  float64
 16  Weapon Desc     326547 non-null  object
 17  Status          990292 non-null  object
 18  Status Desc     990293 non-null  object
 19  Crm Cd 1        990282 non-null  float64
 20  Crm Cd 2        68957 non-null   float64
 21  Crm Cd 3        2311 non-null    float64
 22  Crm Cd 4        64 non-null      float64
 23  LOCATION        990293 non-null  object
 24  Cross Street    152641 non-null  object
 25  LAT             990293 non-null  float64
 26  LON             990293 non-null  float64
dtypes: float64(8), int64(6), object(13)
memory usage: 211.5+ MB

In [13]:
Crime.isnull().sum()

Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           147652
Vict Age               0
Vict Sex          140778
Vict Descent      140789
Premis Cd            323
Premis Desc          894
Weapon Used Cd    663746
Weapon Desc       663746
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          921336
Crm Cd 3          987982
Crm Cd 4          990229
LOCATION               0
Cross Street      837652
LAT                    0
LON                    0
dtype: int64

In [15]:
Crime.shape

(990293, 27)

In [17]:
Crime.describe()

,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,990293.000000,990293.000000,990293.000000,990293.000000,990293.000000,990293.000000,989970.000000,326547.000000,990282.000000,68957.000000,2311.000000,64.00000,990293.000000,990293.000000
mean,1339.256672,10.697314,1116.172073,1.402950,500.675146,29.011584,305.964166,363.873623,500.431720,958.159752,984.204673,991.21875,33.986463,-118.050015
std,651.351436,6.108960,611.015402,0.490491,205.914118,21.982132,219.200779,123.703129,205.713105,110.251655,51.485644,27.06985,1.730076,5.997837
min,1.000000,1.000000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,900.000000,5.000000,587.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014600,-118.430400
50%,1420.000000,11.000000,1141.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,1900.000000,16.000000,1617.000000,2.000000,626.000000,44.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.273900
max,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [25]:
# Replacing blank values with NA (I parsed through and saw these as the main culprits)

Crime["Status"].fillna("NA", inplace=True)
Crime["Mocodes"].fillna("NA", inplace=True)
Crime["Vict Sex"].fillna("NA", inplace=True)
Crime["Premis Desc"].fillna("NA", inplace=True)
Crime["Premis Cd"].fillna("NA", inplace=True)
Crime["Weapon Used Cd"].fillna("NA", inplace=True)
Crime["Weapon Desc"].fillna("NA", inplace=True)
Crime["Crm Cd 1"].fillna("NA", inplace=True)
Crime["Crm Cd 4"].fillna("NA", inplace=True)
Crime["Crm Cd 3"].fillna("NA", inplace=True)
Crime["Crm Cd 2"].fillna("NA", inplace=True)
Crime["Cross Street"].fillna("NA", inplace=True)
Crime["Vict Descent"].fillna("NA", inplace=True)

<ipython-input-25-04bb5d741786>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Crime["Vict Descent"].fillna("NA", inplace=True)

In [26]:
# Converting all dates the datetime

Crime[["DATE OCC", "Date Rptd"]].apply(pd.to_datetime)

<ipython-input-26-00f5db8d78b4>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Crime[["DATE OCC", "Date Rptd"]].apply(pd.to_datetime)
<ipython-input-26-00f5db8d78b4>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Crime[["DATE OCC", "Date Rptd"]].apply(pd.to_datetime)

            DATE OCC  Date Rptd
DR_NO
190326475 2020-03-01 2020-03-01
200106753 2020-02-08 2020-02-09
200320258 2020-11-04 2020-11-11
200907217 2020-03-10 2023-05-10
220614831 2020-08-17 2022-08-18
...              ...        ...
240710284 2024-07-23 2024-07-24
240104953 2024-01-15 2024-01-15
240410786 2024-10-11 2024-10-14
240309674 2024-04-24 2024-04-24
240910892 2024-08-12 2024-08-13

[990293 rows x 2 columns]

In [28]:
Crime.isnull().sum()

Date Rptd         0
DATE OCC          0
TIME OCC          0
AREA              0
AREA NAME         0
Rpt Dist No       0
Part 1-2          0
Crm Cd            0
Crm Cd Desc       0
Mocodes           0
Vict Age          0
Vict Sex          0
Vict Descent      0
Premis Cd         0
Premis Desc       0
Weapon Used Cd    0
Weapon Desc       0
Status            0
Status Desc       0
Crm Cd 1          0
Crm Cd 2          0
Crm Cd 3          0
Crm Cd 4          0
LOCATION          0
Cross Street      0
LAT               0
LON               0
dtype: int64

# Visualizations and Discovery